/** Buttons **/

.btn
  background-color color-base
  border 0
  color white
  cursor pointer
  font-family 'Open Sans', Arial, sans-serif
  font-size 0.8em
  line-height 2.25em
  margin 0
  min-width 40px
  padding 0.3em 2em
  text-align center
  vertical-align middle
  white-space nowrap

.btn--small
  font-size 0.8em
  margin 0
  padding 0.2em 1em
  text-align center
  vertical-align middle
  white-space nowrap
  transition(0.3s)
  &:hover
    background-color darken(color-base,50%)
    color white
    text-decoration none
  &:active,
  &:focus
    outline none

.btn--medium
  font-size 1em
  padding 0.3em 2em
  text-align center
  vertical-align middle
  white-space nowrap
  transition()
  &:hover
    background-color: darken(color-base,50%)
    color: white
    text-decoration: none
  &:active,
  &:focus
    outline none

.btn--large
  font-size 1em
  padding 0.6em 4.2em
  text-align center
  vertical-align middle
  white-space nowrap
  transition()
  &:hover
    background-color darken(color-base,50%)
    color white
    text-decoration none
  &:active,
  &:focus
    outline none

.btn--secondary
  background-color color-base2
  color black
  font-size 0.9em
  margin 0
  padding 0.5em 2.5em
  text-align center
  vertical-align middle
  white-space nowrap
  &:hover
    background-color darken(color-base2,15%)
    text-decoration none
  &:active,
  &:focus
    outline none
  transition()

.btn--alert
  background-color color-error
  color white
  font-size 0.9em
  margin 0
  padding 0.5em 2.5em
  text-align center
  vertical-align middle
  white-space nowrap
  &:hover
    background-color lighten(color-error,15%)
    text-decoration none
  &:active,
  &:focus
    outline none
  transition()

.btn--ghost
  background-color transparent
  border 1px solid color-base
  color color-base
  font-size 1em
  font-weight bold
  line-height 2.25em
  margin 0
  padding 0.3em 3em
  text-align center
  vertical-align middle
  white-space nowrap
  transition(0.7s)
  &:hover
    background-color color-base
    color white
    text-decoration none
  &:active,
  &:focus
    outline none
