color-base=#98e6e7
color-base2=#97C0D9
color-error=#c31111
color-success=#8AF264
color-facebook=#3C599B
main-width=978px


transition(time=0.5s)
	-moz-transition all time ease-out
	-o-transition all time ease-out
	-webkit-transition all time ease-out
	transition all time ease-out