@media only screen and (max-width: 32em)
  /* Mobile first queries */
  body
    font-size 0.9em
    padding 0em
    box-sizing: border-box;

  body > section
    padding 0.3em
     

  input[type="text"],[type="number"],[type="tel"],textarea, select
    box-sizing: border-box;
    margin 0.2em
    padding 0.8em
    width 100%
    
  textarea
    margin 0.2em
    padding 0.8em
    width 100%
    
  [class^="icon-"], [class*=" icon-"]
    font-size 1em
    margin .2em

@media only screen and (min-width: 32em)
  /* Tablets & Desk */
  body > section
    padding 2em

  input[type="text"]
    padding 0.8em


/*@media print*/
