@media only screen and (max-width: 32em)
  /* Mobile first queries */
  body
    font-size 0.8em
    padding 0em

  body >section
    padding 1em

  input[type="text"],textarea, select
    margin 0
    padding 0.8em
    width 100%
    
  textarea
    margin 0
    padding 0.8em
    width 100%
    
  [class^="icon-"], [class*=" icon-"]
    font-size 1em
    margin .2em

@media only screen and (min-width: 32em)
  /* Tablets & Desk */
  body > section
    padding 2em

  input[type="text"]
    padding 0.8em


/*@media print*/
