@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300")
/** Basics styles. Body, Head, H1, basics floats, prints, columns... **/

body
  margin 0
  font-family 'Open Sans', sans-serif, arial
  padding 2em
  
header
  padding 2em

.left
  float left
.right
  float right
.inline
  display inline
.clearfix
  clear border-top 
  
.rounded
  border-radius 1em

h1
  font-size 3em
  font-weight 300
  line-height 1.5em
  margin 0
  
h2 
  font-size 2.3em
  font-weight 300
  line-height 1.5em
  margin 0

h3
  font-size 2em
  line-height 1.5em
  margin 0

h4
  font-size 1.5em
  font-weight 300
  line-height 1.5em
  margin 0

h5
  font-size 1.2em
  line-height 1.5em
  margin 0

hr
  margin-top 20px
  margin-bottom 20px
  border 0
  border-top 1px solid #ACACAC

label
  display block
  
sup
  top -0.5em

sub
  bottom -0.25em

audio,
canvas,
img,
video
    vertical-align middle

img
  border 0

textarea
  resize vertical
  display block
    
ul
  list-style none

ul li
  margin 1em

ul img, li img
  margin-right 1em

ol
  list-style-type none
  counter-reset li-counter

ol p:before
  padding 0.2em 0.5em
  z-index 1
  content counter(li-counter)
  counter-increment li-counter

ul.styled
  list-style circle

table
  width 900px
  max-width 100%
  text-align center
  display table-cell
  border-spacing 0px
  
thead:first-child, td:first-child
  width 300px
  text-align left

th,td,tr
  width 100%
  padding 1em
  margin 0
  border-bottom 1px solid #A6A6A6

tfoot
  font-weight bold
  color black
  background-color #EDEDEB
  
pre
  white-space pre-wrap
  
section
  margin 1em 0em
  padding 0em
  clear both
  overflow hidden

input,
button,
select,
textarea
  padding 0.7em
  font-family inherit
  font-size inherit
  line-height inherit
  border 1px solid black
  color #272822

select
  padding 0.5em

a
  text-decoration none
  &:hover,&:focus
    text-decoration underline
    outline thin dotted #333
    outline 5px auto -webkit-focus-ring-color
    outline-offset -2px
  

.img-responsive
  display block
  height auto
  max-width 100%

.img-rounded
  border-radius: 6px
.img-circle
  border-radius: 50%

.img-thumbnail
  display inline-block
  height auto
  max-width 100%
  padding 4px
  line-height 1.428571429
  background-color #ffffff
  border 1px solid #dddddd
  border-radius 4px
  -webkit-transition all 0.2s ease-in-out
  transition all 0.2s ease-in-out
  
/*** Overriding The Default Text Selection Color ***/
::selection
  background #e95a6e /* Safari */
  color #FFF
  
::-moz-selection
  background #e95a6e /* Firefox */
  color #FFF

/*** hack alineacion vertical imagenes ***/
img.valign
   vertical-align middle

.wrap
  max-width main-width
  margin 0 auto

.alert
  margin 1em
  font-size 0.8em
  min-width 300px
  border 1px solid #BFBFBF
  border-radius 5px
  padding 0.8em

.alert--success
  border-color lighten(color-success, 20%)
  background-color color-success
  color darken(color-success, 50%)
.alert--error
  border-color lighten(color-error, 20%)
  background-color color-error
  color lighten(color-error, 50%)
  
input, textarea
  margin 1.7em 0
  
input.rounded, textarea.rounded
  border-radius 7px
  
input.small, textarea.small
  font-size 0.7em
  padding 0.5em
  
input[type="checkbox"], input[type="radio"]
  margin-right 1em