/*body > section:nth-child(even)
	background-color #212121
	color #F4F4F2
*/	
#typography span 
	font-size 0.8em

#buttons
	
	
#buttons
	.grid
		text-align center
		div[class*="col-"]
			margin 2em 0
/* GRID */

.grid
	overflow hidden

.boxed > div
	border 1px solid black
	background-color salmon
	overflor hidden
	padding 0.51em
	&:hover
		background-color darken(salmon, 15%)